<!DOCTYPE html>

<html ng-app="PicknPayApp">
    <head>
        <title>View-Orders</title>
        <script src="./js/angular.js"></script>
        <script type="text/javascript" src="./js/angular-route.min.js"></script>
        <script src="./js/app.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>       



    </head>
    
            <style>
            /* Remove the navbar's default rounded borders and increase the bottom margin */ 
            .navbar {
                margin-bottom: 50px;
                border-radius: 0;

                background-color:black;
            }
            

        </style>


    <body ng-controller="OrderController">
        <div class="container" >
         <a href="adminHomePage.html">
            <img src="./css/images.png" style="width:150;height:50; " /></a>
         <input type="text" ng-model="searchText.name" onkeyup="" placeholder="Search For Products.." style="width:80%;  padding: 12px 20px;  margin: 8px 0;box-sizing: border-box;}"/>
       


<nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav ">
            <li><a href="#home">Admin: {{users.fname}} {{users.lname}}</a></li>
           <li> <a href="adminHomePage.html">Home</a></li>
            <li><a href="./registerAdmin.html">Add Administrator</a></li>
               <li><a href="./addCategory.html">Add Category</a></li>
               <li><a href="./registerDriver.html">Add Driver</a></li>
               <li> <a href="./addProduct.html">Add Product</a></li>
               <li><a href="./registerSupplier.html">Add Supplier</a></li>
               <!--<li><a href="./updateProduct.html">Update Product</a></li-->
               <li><a href="./">Log Out</a></li>
        </ul>
</nav>

         <h1  align="center">Cancel Orders</h1>
         
        <table id="tbl" align="center">
            <tr>
                <th>Order Number </th>
                <!--th>Order Image</th-->
                <th> Order Name </th>
                <th> Order Status </th>
                <!--th>Order Amount</th-->
                <!--th>City</th-->
               <th> Delivery Date </th>
            </tr>

            <tr ng-repeat="order in orders" >
                <td> {{order.orderno}} </td>
                <!--td><span><img ng-src="{{order.image}}" width="250" height="250" alt=""/></span></td-->
                <td> {{order.name}} </td>
                <td> {{order.orderstatus}} </td>
                <!--td>R {{order.orderamount}}</td-->
                <td> {{order.orderdate}} </td>
               
                <!--td>{{order.city}}</td-->
                <td >      
                   
                </td>
                <td>
                     <input type="button" id="remove" value="Remove Order"  class="remove" ng-click="removeOrder(order.orderno)"/>
                </td>
            </tr>
        </table>
</div>

    </body>
</html>



